* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  /* altura minima 100 vh para preenhcer a tela toda */
}

.header{
  width: 100%;
  min-height: 40px; /* Pela responsividade */
  background-color: #292929;
  display: flex;
  flex-wrap: wrap; /* Responsividade para quebrar quando diminuir a tela */
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 8px 15px; /* Responsividade para quando quebrar os botões nao ficarem no logo */
}

.logoNavBar {
  width: 180px;
}

.headerBtnGroup {
  display: flex;
  gap: 15px;
  /* Aumentar distanciamento entre os botões */
}

.navBtn{
  font-size: 16px;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent; /* Influencia no hover */
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.navBtn:hover {
  border-bottom: 2px solid #000;
  font-size: 20px;
}

.sectionTitle {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  padding-top: 20px;
  font-weight: bold;
}

.sectionDescription {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #383838;
}

.gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "mainContent sidebarContent"; /* Informando quais a areas */
  padding: 20px;
  flex: 1 0 auto; /* preencher todo espaço do Grid Container */
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  grid-area: mainContent;
}

.categoryCard {
  width: 280px;
  height: 380px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  text-align: justify;
}

.categoryCard:hover {
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #292929;
}

.mainCardImg {
  width: 100%;
  height: 180px; /* Não precisa ser responsivo em %*/
  border-radius: 10px;
}

.mainCategoryCardTitle {
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.mainCategoryCardDescription {
  padding: 6px;
}

.sidebarContent {
  color: #383838;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  grid-area: sidebarContent;
  gap: 20px;
}

.sidebarContent:hover .sidebarTitle{
  font-weight: 900;
  color: #000;
  text-align: center;
}

.sidebarCard {
  width: 75%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarCardImg {
  width: 200px;
  padding: 3px;
  border-radius: 10px;
}

.sidebarCard:hover {
  padding: 5px;
  box-shadow: 2px 2px 2px 2px #292929;
  font-weight: 900;
}

.sidebarTitle {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.sidebarCardTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  color: #000;
}

.footer {
  width: 100%;
  min-height: 40px;
  background-color: #292929;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 15px;
}
.logoFooter {
  width: 180px;
}
.footerAnchor {
  color: white;
  text-decoration: none;
}

@media (max-width: 630px) {
  .gridContainer {
    grid-template-areas:
      "mainContent"
      "sidebarContent";
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebarContent {
    min-width: auto;
  }
  .footerAnchor {
    font-size: 19px;
  }
}

@media (max-width: 463px) {
  .header {
    justify-content: center;
  }
  .footer {
    justify-content: center;
  }
}
