@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap");
* {
  color: #fff;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoNav {
  width: 280px;
  margin-left: -10px;
  margin-right: 40px;
}

#button {
  padding: 15px 35px;
  border: 2px solid white;
  font-weight: bold;
}

.footer {
  background-color: #000;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer a:hover {
  color: #b9b9b9;
}

.copyMBPocas {
  color: #555252;
}

.iconFooter {
  margin-left: 5px;
  font-size: 14px;
}
.iconFooter:hover {
  color: #b9b9b9;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 240px;
}
.downloadDesc a {
  text-decoration: none;
  color: #fff;
}
.downloadDesc a:hover {
  color: #b9b9b9;
}
.downloadDesc p {
  margin-bottom: 60px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

button {
  margin-right: 10px;
}

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 250px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
@media (max-width: 510px) {
  .downloadDesc {
    padding-top: 140px;
  }
  button {
    margin: 10px 0px;
  }
  .span {
    font-size: 12px;
  }
}
* {
  color: #fff;
}

.container00.container01 {
  background-image: url(/assets/images/home/01.jpg);
}
.container00.container02 {
  background-image: url(/assets/images/home/03.jpg);
}
.container00.container03 {
  background-image: url(/assets/images/home/02.jpg);
}
.container00.container04 {
  background-image: url(/assets/images/home/04.jpg);
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 450px;
  margin-bottom: 25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 30px;
  }
}
.container00.container05 {
  background-image: url(/assets/images/falcon9/f9back.jpg);
}
.container00.container06 {
  background-image: url(/assets/images/falcon9/02.jpg);
}
.container00.carrossel01 {
  background-image: url(/assets/images/falcon9/03.jpg);
}
.container00.carrossel02 {
  background-image: url(/assets/images/falcon9/04.jpg);
}
.container00.carrossel03 {
  background-image: url(/assets/images/falcon9/05.jpg);
}
.container00.carrossel04 {
  background-image: url(/assets/images/falcon9/06.jpg);
}
.container00.carrossel05 {
  background-image: url(/assets/images/falcon9/07.jpg);
}
.container00.container07 {
  background-image: url(/assets/images/falcon9/08.jpg);
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
}

.titleFalcon9 {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 514;
}

.subTitleFalcon {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

.numbers {
  background-color: #000;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleNumb {
  font-size: 120px;
  font-family: "Rubik", sans-serif;
}

.subTitleNumb {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

.containerFalcon9 {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

.falcon9Desc {
  width: 500px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 40px;
  margin-left: 10%;
}

#overViewPosition {
  width: 480px;
  margin-left: 10%;
  padding-top: 15%;
  padding-bottom: 15%;
  font-family: "Rubik", sans-serif;
  text-align: justify;
  line-height: 30px;
}

.subTitleOvewView {
  font-weight: bold;
  font-size: 20px;
}

.carrosselSlide img {
  height: 100vh;
}

.carousselText {
  background-color: #000;
  opacity: 0.7;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .titleFalcon9 {
    font-size: 60px;
  }
  .subTitleFalcon {
    font-size: 16px;
  }
  .titleNumb {
    font-size: 60px;
  }
  .subTitleNumb {
    font-size: 16px;
  }
  .falcon9Desc {
    width: 420px;
    font-size: 16px;
  }
  #overViewPosition {
    display: block;
    width: 420px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .falcon9Desc {
    width: 280px;
    font-size: 16px;
  }
  #overViewPosition {
    display: block;
    width: 280px;
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
  }
  .titleFalcon9 {
    font-size: 50px;
  }
  .numbers {
    padding-top: 50px;
  }
  .titleNumb {
    font-size: 20px;
  }
  .subTitleNumb {
    font-size: 12px;
  }
  .falcon9Desc {
    width: 200px;
    font-size: 14px;
    padding-top: 50px;
    line-height: 20px;
  }
  #overViewPosition {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 200px;
    font-size: 12px;
    padding-top: 50px;
    padding-right: 30px;
    line-height: 15px;
  }
  .hidden {
    visibility: hidden;
  }
  .titleOverView {
    font-size: 18px;
    font-weight: bold;
  }
  .subTitleOvewView {
    font-size: 18px;
  }
  .container07 table {
    visibility: hidden;
  }
}
.container00.container08 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/humanFlight/01.jpg);
}
.container00.container09 {
  background-image: url(/assets/images/humanFlight/02.jpg);
}
.container00.container10 {
  background-image: url(/assets/images/humanFlight/03.jpg);
}
.container00.container11 {
  background-image: url(/assets/images/humanFlight/04.jpg);
}
.container00.container12 {
  background-image: url(/assets/images/humanFlight/05.jpg);
}

.titleContainer08 {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleHuman {
  font-family: "Rubik", sans-serif;
  font-size: 80px;
  font-weight: 514;
  margin-top: 60px;
}

.subTitleHuman {
  margin-top: 15px;
  font-size: 20px;
}

.arrowDown {
  margin-top: 200px;
  width: 150px;
}

.eartDesc {
  background-color: #000;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eartDesc p {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 20px;
  width: 800px;
}
.eartDesc a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.earthContent, .moonContent {
  margin-left: 55%;
  padding-top: 15%;
}

.stationContent, .marsContent {
  margin-left: 5%;
  padding-top: 15%;
}

.titleDestiny {
  font-size: 50px;
  font-weight: bold;
}

.shortTitleHuman {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
